html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
}

header{
    position:fixed;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 1;
}
.nav-list{
    /* position: relative; */
    display: flex;
    font-size: 15px;
}
.nav-item, a.nav-item{
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    text-decoration: none!important;
}

a.nav-item:hover, .nav-item:hover{
    background-color: rgb(204, 204, 204);
    color: black!important;
    text-decoration: none!important;
}

.more .fa-caret-down{
    position: relative;
    left: 5px;
    top: 2px;
}

.more{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.more-item{
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    top: 50px;
    left: 0px;
    font-size: 15px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.more-item a{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}

.more:hover .more-item{
    display: inline-block;
}

.more-item  a:hover{
    background-color: rgb(204, 204, 204);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    text-decoration: none;
}

.nav-search{
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 0px;
    top: 1px;
    font-size: 15px;
}
.nav-search:hover{
    background-color: brown;
}

#body {
    padding-top: 50px;
}

.image-slider{
    position:relative;
    width: 100%;
}

.image-slider img{
    width: 100%;
}

.image-slider .figcaption{
    color: aliceblue;
    position: absolute;
    bottom: 50px ;
    right: 43%;
    text-align: center;
}

#content .about{
    margin-left: 400px;
    margin-right: 400px;
    padding: 64px;
}

.heading, .sub-heading, .name-info{
    text-align: center;
}

.members{
    width: 100%;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.members .info{
    float: left;
    padding-left: 27.1px;
    padding-right: 27.1px;
}

.members .info img{
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
}

.tour{
    background-color: black;
    color: aliceblue;
    padding-top: 70px;
    height: 800px;
}

.tour-info{
    margin-top: 50px;
    width: 766px;
    position: relative;
    left: 30%;
}

.tour-date{
   display: flex;
   background-color: rgb(255, 255, 255);
   color: black;
   padding-left: 20px;
   padding-top: 20px;
   border-bottom: 1px solid #ddd;
}

.sold-out{
    margin-left: 10px;
    background-color: red;
    color: aquamarine;
    align-items: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

}

.slot{
    position: relative;
    left: 650px;
    background-color: black;
    color: white;
    width: 20px;
    border-radius: 50%;
    text-align: center;
}

.tickets-tours{
    display: flex;
    margin-top: 20px;
}

.ticket-location{
    margin-right: 23px;
    background-color: white;
    color: black;
    height: 370px;
}

.location-img{
    width: 240px;
    height: 200px;
}

.location-img:hover{
    opacity: 0.60;
}

.location{
    font-weight: bold;
}

.ticket-location p, .ticket-location #buy-ticket
{
    margin-left: 10px;
    margin-right: 10px;
}

.ticket-location .date, .sub-heading{
    opacity: 0.60;
}

.des{
    line-height: 1.4;
}

#buy-ticket{
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: block;
    border: none;
}

#buy-ticket:hover{
    color: black;
    background-color: #ddd;
}

.contact .body{
    display: flex;
    align-items: center;
    width: 800px;
    height: 250px;
    margin-left: 500.5px;
    margin-right: 500.5px;
    padding-top: 30.5px;
    padding-bottom: 30.5px;
}
.contact .contact-info{
    color: black;
    width: 740px;
    height: 151px;
    padding-left: 55px;
    padding-top: 10px;
}

.box-mail{
    padding-top: 10px;
}

.box-mail input{
    border: 1px solid #ddd;
    padding: 8px 8px 8px 8px;
}

.box-mail div.button button{
    margin-top: 5px;
    background-color: black;
    color: white;
    border: none;
    display: block;
    padding: 10px 20px;
    float: right;
    text-transform: uppercase;
}

.box-mail div.button button:hover{
    background-color: #ddd;
    color: black;
}

.box-mail .wd-30{
    margin-top: 10px;
    width: 380px;
}

.modal{
    display: none;
}

.modal.open-modal{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.3);
    min-width: 1500px;
}

.modal #form-ticket{
    position: relative;
    width: 900px;
    height: 435px;
    min-height: 200px;
    max-width: calc(100% - 30px);
    margin-left: 470.5px;
    margin-right: 470.5px;
    margin-top: 100px;
    background-color: white;
    animation: modalFaceIn ease 0.5s;
}

.form-heading{
    background-color: #009688;
    padding: 33px 16px 33px 16px;
    text-align: center;
    color: white;
}

#form-ticket p{
    margin-left: 10px;
}

#form-ticket input, #form-ticket button{
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 880px;
    padding: 10px;
}

#form-ticket button{
    background-color: #009688!important;
    color: white;
    padding: 15px 20px 15px 20px;
    font-size: 15px;
    text-transform: uppercase;
}

#form-ticket button:hover{
    background-color: #ddd!important;
    color: black;
    cursor: pointer;
}

#form-ticket button:active, .modal .form-ticket{
    display: none;
}

.modal .close{
    position: absolute;
    right: 10px;
    top: 5px;
    color: rgb(245, 245, 245)!important;
}

.modal .close{
    position: absolute;
    right: 10px;
    top: 5px;
    color: rgb(0, 0, 0)!important;
}

.model .close:hover{
    background-color: rgb(250, 8, 8)!important;
}

@keyframes modalFaceIn {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalFaceOut {
    from{
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

#footer{
    padding: 64px;
    width: 100%;
    height: 216px;
    text-align: center;
    background-color: #f1f1f1!important;
    opacity: 0.8;
}

#footer .fa{
    font-size: 25px!important;
}
#footer .fa:hover{
    opacity: 0.5;
}

.w3-medium{
    font-size: 15px!important;
    padding-top: 10px;
}